*.hi
*.html
*.o
blas-bindings/cbits/config.h
blas-bindings/cbits/config.h.in
blas-bindings/aclocal.m4
blas-bindings/autom4te.cache
blas-bindings/linear-algebra.buildinfo
blas-bindings/config.status
blas-bindings/config.log
blas-bindings/configure
blas-bindings/tests/.hpc
blas-bindings/tests/Makefile
blas-bindings/tests/test-complex
blas-bindings/tests/test-complex.tix
blas-bindings/tests/test-real
blas-bindings/tests/test-real.tix
dist
